.new_films {
    height: 400px;
    padding-left: 138px;
    padding-right: 138px;
}

.new {
    color: white;
    font-weight: 700;
    font-size: 24px;
    margin: 15px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}