.filmDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px 0;
    min-width: 1420;
    width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.nameFilm {
    padding-bottom: 30px;
}

.imgFilm {
    height: 400px;
    padding-right: 40px;
}

.desc {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    margin-bottom: 10px;
}

.liked{
    display: flex;
    justify-content: start;
    text-decoration: none;
    padding-bottom: 60px;  
    padding-left: 100px;
}

.textLike {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    text-decoration: none;
}

.imgLike {
    height: 22px;
    width: 22px;
    flex: 0 0 16px;
    top: 2px;
}