.footer {
    background-color: #232323;
    color: white;
}

.footer_img {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.footer_img img {
    height: 55px;
    width: 217px;
}