.personal_page {
    display: flex;
}

.container {
    position: relative;
    padding: 60px 0;
    min-width: 1420;
    width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.profile_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 60px;
    
}

.img_edit {
    height: 16px;
    width: 16px;
    margin-right: 5px;
}



.profile_menu_item a {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.profile_options li{
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    display: list-item;
    text-align: -webkit-match-parent;
    vertical-align: baseline;
} 

.profile_options a {
    background-color: gray;
    border-radius: 5px;
    color: white;
    
}




